/* Algemeen */

body, input {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px;
}

/* Elementen */
.dark {
  background-color: #212121;
}
.light {
  background-color: #f5f5f5;
}

#header {
}

#header h1,
#header h2 {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article,
img,
table {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

article {
  padding: 16px;
}

.column3 {
  column-count: 3;
}

hr {
  border: 32px solid #212121;
  margin: 0 auto;
}

section {
  margin: 2em auto;
  max-width: 1000px;
}

.section-fw {
  margin: 0 auto;
  max-width: 100%;
}

.section-fw h1,
h2 {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 1000px;
}

.sticky {
  position: sticky;
  top: 0px;
}

nav {
  margin: 0 auto;
  padding: 24px 24px 24px 0px;
  max-width: 1000px;
}

nav ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
}

nav li {
  display: inline;
}

nav a {
  font-size: 1.2em;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;

  border: 1px solid #f5f5f5;
}

nav a:active {
  background-color: rgba(255, 255, 255, 0.12);
}

article p {
  margin: 0;
}

img {
  margin: 8px;
  max-width: 300px;
}

table {
  padding: 16px;
  width: 100%;
}

table th {
  text-align: left;
}

table tr:hover {
  background-color: #f5f5f5;
}

ul,
li {
  padding-bottom: 8px;
}

li p {
  margin: 8px;
}

li p:first-child {
  font-weight: 500;
}

/* Typografie */

h1,
h2 {
  font-family: Karla, Roboto, sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 200;
}

/* Opdrachten */
.opdracht-16 h1 {
  border-radius: 4px;
  padding: 16px;
}

.hex-16 {
  background-color: #f5f5f5;
  color: #212121;
}

.rgb-16 {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 0, 0.87);
}

h1 span,
h2 span {
  margin-top: -68px; /* Size of fixed header */
  padding-bottom: 68px;
  display: block;
}

@media screen and (max-width: 1000px) {
  section {
    padding: 0 1em;
  }
}

.button, input {
  display: inline-block;
  color: #212121;
  font-size: 1.2em;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  color: #ffffff;
  background-color: #212121;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.primary {
  border: 1px solid rgba(0, 0, 0, 0.87);
}

.flat {
  border: 1x solid white;
}

.opdracht-6 {
  /* font-family: "Comic sans"; */
}

a:not(.button) + a::before {
  content: ' - ';
}

#opdracht3-6 img {
  margin: 0;
  transform: ;
}

#opdracht3-6 a {
  vertical-align: top;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  width: 100px;
  margin: 8px;
}

#sum {
  font-size: 42px;
  display: inline-block;
  padding: 1em;
}